<IfModule mod_rewrite.c>
    RewriteEngine On

    # If the request is for a file or directory, do not redirect
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # If the request starts with "app/tickets", do not redirect
    RewriteRule ^app/tickets($|/) - [L]

    # Otherwise, redirect to the public folder
    RewriteRule ^$ public/ [L]
    RewriteRule (.*) public/$1 [L]
</IfModule>