.match_stad_date{
    font-family: Noto Sans;
    font-size: 16px;
    font-style: italic;
    line-height: normal;
}
.img_match{
    height: 340px;width: 100%;padding-left: 0px;padding-right: 0px
}
.box_reserver{
    background-color: white;
    border-radius: 7px;
    border: 1px solid green;
    box-shadow: 4px 4px 4px 0px green;
    width: 323px;
    text-align: center;
}
.img_cups{
    width: 40px;height: 44px
}
.card_match{
    display: flex;font-size: 15px
}
.card_match p{
    font-size: 13px;
    margin-top: 6px;
}