.match_stad_date{
    font-family: Noto Sans;
    font-size: 16px;
    font-style: italic;
    line-height: normal;
}
.card_match{
    display: flex;font-size: 15px
}
.card_match p{
    font-size: 13px;
    margin-top: 6px;
}
.img_match{
    height: 340px;width: 600px;padding-left: 0px;padding-right: 0px; margin:auto
}
